<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🃏</text></svg>">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Wooseok Seo
              </h1>
              <p>Hi! I am a 1st year PhD student at <a href="https://mirlab.yonsei.ac.kr/">MIRLAB</a>, part of the <a href="https://ai.yonsei.ac.kr/csai_en/index.do">School of Computing</a> at <a href="https://www.yonsei.ac.kr/en_sc/">Yonsei University</a>, advised by Prof. <a href="https://yj-yu.github.io/home/">Youngjae Yu</a>.
              </p>
              <p>
                My main research interest is in pushing the boundaries of <i> foundational models </i> through better <strong> evaluation frameworks </strong> or effective <strong> post-training </strong>. Recently, I am interested in:
              </p>
              <p>
                <ul>
                  <li> <strong> Evaluating and Mitigating Hallucinations of Language Models: </strong> Is hallucination inevitable? How can we develop truthful models and correctly evaluate them? </li>
                  <li> <strong> Defining, Generating and Selecting High-Quality Synthetic Data: </strong> Synthetic data is key to building strong models. But how do we define <i> good </i> synthetic data? If we can, how should we select/generate them? </li>
                </ul>
              </p>
              <p>
                I am also interested in leveraging models to evaluate or improve other models, or utilizing them to augment human capabilities.
              </p>
              <p>
                I am always open to research collaborations or grabbing a cup of coffee! Please reach me via email to have a chat &#129303;
              </p>
              <p style="text-align:center">
                <a href="pdfs/cv-0812.pdf">CV</a> &nbsp/&nbsp
                <a href="mailto:justin_seo@yonsei.ac.kr"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/just1nseo">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=G-Tl_2YAAAAJ&hl=ko">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/wooseok-seo-aa617a22a/"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://x.com/just1nseo">Twitter</a> 
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:200px; height:250px; border-radius:50%; object-fit:cover; display:block; margin:auto;" alt="profile photo" src="images/profile.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0.5% 2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
            </td>
          </tr>
        </table>
        <table class="news-table" style="margin-top:6px;">
          <tbody>
            <tr>
              <td style="text-align:left">
                <span class="date-badge">2025.09</span>
                I will be joining
                <img src="images/lgai.png"
                alt="lgai"
                style="height:1em; width:auto; vertical-align:-0.15em; margin:0 0.2em;">
                as a Research Intern, working on foundational models!
              </td>
            </tr>
            <tr>
              <td style="text-align:left">
                <span class="date-badge">2025.07</span>
                One paper on studying fact verifiers is accepted at <strong>COLM 2025</strong>!
              </td>
            </tr>
            <tr>
              <td style="text-align:left">
                <span class="date-badge">2025.06</span>
                One paper on video diffusion distillation via preference learning is accepted at <strong>ICCV 2025</strong>!
              </td>
            </tr>
          </tbody>
        </table>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0.5% 2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{ post.authors }}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>

              {% if post.summary %}
              <span class="paper-summary">{{ post.summary }}</span>
              <br>
              {% endif %}

              {% assign links = '' | split: '' %}
              {% if post.arxiv %}{% assign links = links | push: 'arxiv' %}{% endif %}
              {% if post.code %}{% assign links = links | push: 'code' %}{% endif %}
              {% if post.bibtex %}{% assign links = links | push: 'bibtex' %}{% endif %}
              {% if post.video %}{% assign links = links | push: 'video' %}{% endif %}
              {% if post.poster %}{% assign links = links | push: 'poster' %}{% endif %}
              {% if post.slides %}{% assign links = links | push: 'slides' %}{% endif %}
              {% if post.website %}{% assign links = links | push: 'website' %}{% endif %}
              {% if post.youtube %}{% assign links = links | push: 'youtube' %}{% endif %}
              
              {% for link_type in links %}
                {% if forloop.first != true %} / {% endif %}
                
                {% if link_type == 'arxiv' %}
                <a href="{{post.arxiv}}">arxiv</a>
                {% endif %}
                
                {% if link_type == 'code' %}
                <a href="{{post.code}}">code</a>
                {% endif %}
                
                {% if link_type == 'bibtex' %}
                <a href="{{post.bibtex}}">bibtex</a>
                {% endif %}
                
                {% if link_type == 'video' %}
                <a href="{{post.video}}">video</a>
                {% endif %}
                
                {% if link_type == 'poster' %}
                <a href="{{post.poster}}">poster</a>
                {% endif %}
                
                {% if link_type == 'slides' %}
                <a href="{{post.slides}}">slides</a>
                {% endif %}
                
                {% if link_type == 'website' %}
                <a href="{{post.website}}">website</a>
                {% endif %}
                
                {% if link_type == 'youtube' %}
                <a href="{{post.youtube}}">youtube</a>
                {% endif %}
              {% endfor %}
              
              {% if post.paper_note %}
                {% if links.size > 0 %} / {% endif %}
                <span>{{post.paper_note}}</span>
              {% endif %}
              
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:1% 2.5%;width:100%;vertical-align:middle">
              <h2>Academic Services</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:1% 2.5%;width:100%;vertical-align:middle">
              <h3>Reviewer</h3>
              <ul>
                {% for service in site.data.services.reviewer %}
                  <li>{{ service.venue }}{% if service.years %}, {{ service.years }}{% endif %}</li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        </table>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

